
.header {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 5px;
  padding-bottom: 2px;

}

.header.h1 {
  margin-bottom: 0px;
}

.card {
  border: solid #000000;
  text-align: center;
  size: 20px 20px;
  margin: 10px;
  transition: all 1s ease;
  transform-style: preserve-3d;
  position: relative;
}

.card.p {
  text-align: left;
}



.container {
  position: relative;
  margin: 10px;
}

.cardTitle {
  margin-left: 5px;
  
}
.cardContent{
  border-top: solid #000000;
}

Card{
  margin: 2px;
}

